<h2>Tamagotchi</h2>

<h4>Choose an activity:</h4>

<form action="/" method="get">
  <div class="form-group">
    <input type="text" name="name">
    <button type="button" class="btn">Create new Tamagotchi</button>
  </div>
</form>
