<h2>Tamagotchi</h2>

<h4>Choose an activity:</h4>

<form action="/home" method="post">
  <div class="form-group">
    <input type="text" name="name">
    <button type="submit" class="btn">Create new Tamagotchi</button>
  </div>
</form>
