<h2>Tamagotchi</h2>

<h4>Choose an activity:</h4>

<form action="/" method="post">
  <div class="form-group">
    <button type="submit" class="btn">Sleep</button>
    <button type="submit" class="btn">Eat</button>
    <button type="submit" class="btn">Play</button>
  </div>
</form>
