<form action="/main" method="post">
  <div class="form-group">
    <button type="submit" name="sleep-btn" value="sleep-val" class="btn">Sleep</button>
    <button type="submit" name="food-btn" value="food-val" class="btn">Eat</button>
    <button type="submit" name="activity-btn" value="play-val" class="btn">Play</button>
  </div>
  <div>
  <h4>Your pet's food level is: <%=@my_pet.food_level%></h4>
  <h4>Your pet's sleep level is: <%=@my_pet.sleep_level%></h4>
  <h4>Your pet's play level is: <%=@my_pet.activity_level%></h4>
  </div>
</form>
