<form action="/main" method="post">
  <div class="form-group">
    <button type="submit" name="sleep-btn" value="sleep-val" class="btn">Sleep</button>
    <button type="submit" name="food-btn" value="food-val" class="btn">Eat</button>
    <button type="submit" name="activity-btn" value="play-val" class="btn">Play</button>
  </div>
  <div>
  <h4>Your pet's food level is: <%=Tamagotchi.food%></h4>
  <h4>Your pet's sleep level is: <%=Tamagotchi.sleepy%></h4>
  <h4>Your pet's play level is: <%=Tamagotchi.activity%></h4>
  </div>
</form>
<% if @my_pet.is_alive == false %>
<%= erb(:dead) %>
<% end %>
