<form action="/main" method="post">
  <div class="form-group">
    <button type="button" name="sleep" class="btn">Sleep</button>
    <button type="button" class="btn">Eat</button>
    <button type="button" class="btn">Play</button>
  </div>
</form>
